/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.bubble {
    position: relative;
    background: #ffffff;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
    filter: drop-shadow(5px 5px 2px #adadad);
    text-align: center;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    padding: 5%;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #ffffff;
    top: 50%;
    right: -20px;
    margin-top: -10px;
}

@media (max-width: 650px) {
    .hideBGImageOnMobile 
    {
        background-image: none !important; 
    }
}

@media screen and (min-width: 1301px) {
    .rckEntranceGuardFontSize {
      font-size: 1.3vw;
    }

    .rckHeigthWidth-1{
      height: 50%; 
      width: 50%;
    }

    .rckMinVH{
      min-height: 100vh !important;
    }

    .rckCotizador{
      height: 1030px;
    }
}

@media screen and (max-width: 1300px) {
    .rckEntranceGuardFontSize {
      font-size: 1.4vw;
    }

    .rckHeigthWidth-1{
      height: 50%; 
      width: 50%;
    }

    .rckMinVH{
      min-height: 100vh !important;
    }

    .rckCotizador{
      height: 830px;
    }
}


@media screen and (max-width: 1100px) {

  .rckCotizador{
    height: 830px;
  }
}


@media screen and (min-width: 1001px) {
    .rckFontSize {
      font-size: 30px;
    }

    .rckHeigthWidth-1{
      height: 50%; 
      width: 50%;
    }

    .rckMinVH{
      min-height: 100vh !important;
    }
}
  
@media screen and (max-width: 1000px) {
    .rckFontSize {
      font-size: 22px;
    }

    .rckHeigthWidth-1{
      height: 75%; 
      width: 75%;
    }

    .rckMinVH{
      min-height: 75vh !important;
    }

    .rckCotizador{
      height: 730px;
    }
}

@media screen and (max-width: 600px) {
    .rckFontSize {
      font-size: 22px;
    }

    .rckMinVH{
      min-height: 75vh !important;
    }

    .rckHeigthWidth-1{
      height: 100%; 
      width: 100%;
    }

    .rckCotizador{
      height: 630px;
    }
}

a.translationButton{
  color: rgb(255, 255, 255); 
  padding: 0 10px; 
  font-size: 12px;
}

a.translationButton:hover{
  color: aquamarine !important; 
}

a.translationButtonActive{
  font-weight: bold !important;
  text-decoration: underline !important;
}

a.greenHover:hover{
  color: #34975C !important; 
}

a.whiteHover:hover{
  color: #ffffff !important; 
}

a.amoradaLinkHover{
  color: #273C4E !important; 
}

a.amoradaLinkHover:hover{
  color: #AEB09C !important; 
}

a.grayLink{
  color: grey !important;
}

a.amoradaBlue{
  background-color: #273C4E !important; 
}

a.amoradaBlue:hover{
  background-color: #AEB09C !important;
}

a.amoradaGold{
  background-color: #AEB09C !important; 
}

a.amoradaGold:hover{
  background-color: grey !important;
}

a.amoradaSkin{
  background-color: #E0C1AE !important; 
}

a.amoradaSkin:hover{
  background-color: grey !important;
}

.amoradaBlue{
  color: #273C4E !important; 
}

.amoradaGoldGoToTop:hover{
  background-color: #AEB09C !important;
}

.amoradaGold{
  color: #AEB09C !important; 
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.amoradaBlue{
  background-color: #273C4E !important; 
}

div.amoradaBlue:hover{
  background-color: #AEB09C !important;
}





